[package]
name = "hanzo-evm-ethereum-cli"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[lints]
workspace = true

[dependencies]
# evm
hanzo-evm-cli.workspace = true
hanzo-evm-cli-commands.workspace = true
hanzo-evm-cli-runner.workspace = true
hanzo-evm-chainspec.workspace = true
hanzo-evm-db.workspace = true
hanzo-evm-node-builder.workspace = true
hanzo-evm-node-core.workspace = true
hanzo-evm-node-ethereum.workspace = true
hanzo-evm-node-metrics.workspace = true
hanzo-evm-rpc-server-types.workspace = true
hanzo-evm-tracing.workspace = true
hanzo-evm-node-api.workspace = true

# misc
clap.workspace = true
eyre.workspace = true
tracing.workspace = true

[dev-dependencies]
# fs
tempfile.workspace = true

[features]
default = []

otlp = ["hanzo-evm-tracing/otlp", "hanzo-evm-node-core/otlp"]
otlp-logs = ["hanzo-evm-tracing/otlp-logs", "hanzo-evm-node-core/otlp-logs"]

dev = ["hanzo-evm-cli-commands/arbitrary"]

asm-keccak = [
    "hanzo-evm-node-core/asm-keccak",
    "hanzo-evm-node-ethereum/asm-keccak",
]

jemalloc = [
    "hanzo-evm-node-core/jemalloc",
    "hanzo-evm-node-metrics/jemalloc",
]
jemalloc-prof = [
    "jemalloc",
    "hanzo-evm-node-metrics/jemalloc-prof",
]
jemalloc-symbols = [
    "jemalloc-prof",
    "hanzo-evm-node-metrics/jemalloc-symbols",
]
tracy-allocator = ["tracy"]
tracy = ["hanzo-evm-tracing/tracy", "hanzo-evm-node-core/tracy"]

# Because jemalloc is default and preferred over snmalloc when both features are
# enabled, `--no-default-features` should be used when enabling snmalloc or
# snmalloc-native.
snmalloc = []
snmalloc-native = []

min-error-logs = [
    "tracing/release_max_level_error",
    "hanzo-evm-node-core/min-error-logs",
]
min-warn-logs = [
    "tracing/release_max_level_warn",
    "hanzo-evm-node-core/min-warn-logs",
]
min-info-logs = [
    "tracing/release_max_level_info",
    "hanzo-evm-node-core/min-info-logs",
]
min-debug-logs = [
    "tracing/release_max_level_debug",
    "hanzo-evm-node-core/min-debug-logs",
]
min-trace-logs = [
    "tracing/release_max_level_trace",
    "hanzo-evm-node-core/min-trace-logs",
]

rocksdb = ["hanzo-evm-cli-commands/rocksdb"]
edge = ["rocksdb"]
