[package]
name = "hanzo-evm-rpc-builder"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
description = "Helpers for configuring RPC"

[lints]
workspace = true

[dependencies]
# evm
hanzo-evm-primitives-traits.workspace = true
hanzo-evm-ipc.workspace = true
hanzo-evm-chainspec.workspace = true
hanzo-evm-consensus.workspace = true
hanzo-evm-engine-primitives.workspace = true
hanzo-evm-network-api.workspace = true
hanzo-evm-node-core.workspace = true
hanzo-evm-rpc.workspace = true
hanzo-evm-rpc-api.workspace = true
hanzo-evm-rpc-eth-api.workspace = true
hanzo-evm-rpc-layer.workspace = true
hanzo-evm-rpc-eth-types.workspace = true
hanzo-evm-rpc-server-types.workspace = true
hanzo-evm-tasks = { workspace = true, features = ["rayon"] }
hanzo-evm-tokio-util.workspace = true
hanzo-evm-transaction-pool.workspace = true
hanzo-evm-storage-api.workspace = true
hanzo-evm-chain-state.workspace = true
hanzo-evm-execution.workspace = true

# rpc/net
jsonrpsee = { workspace = true, features = ["server"] }
tower-http = { workspace = true, features = ["full"] }
tower = { workspace = true, features = ["full"] }
http.workspace = true
pin-project.workspace = true

# metrics
hanzo-evm-metrics = { workspace = true, features = ["common"] }
metrics.workspace = true

# misc
dyn-clone.workspace = true
serde = { workspace = true, features = ["derive"] }
thiserror.workspace = true
tracing.workspace = true
tokio-util = { workspace = true }
tokio = { workspace = true, features = ["rt", "rt-multi-thread"] }
alloy-provider = { workspace = true, features = ["ws", "ipc"] }
alloy-network.workspace = true

[dev-dependencies]
reth-ethereum-primitives.workspace = true
reth-network-peers.workspace = true
reth-evm-ethereum.workspace = true
reth-ethereum-engine-primitives.workspace = true
reth-payload-builder = { workspace = true, features = ["test-utils"] }
reth-provider = { workspace = true, features = ["test-utils"] }
reth-rpc-api = { workspace = true, features = ["client"] }
reth-rpc-engine-api.workspace = true
reth-tracing.workspace = true
reth-transaction-pool = { workspace = true, features = ["test-utils"] }
reth-node-ethereum.workspace = true
reth-tasks = { workspace = true, features = ["test-utils"] }

alloy-primitives.workspace = true
alloy-rpc-types-eth.workspace = true
alloy-rpc-types-trace.workspace = true
alloy-eips.workspace = true
alloy-rpc-types-engine.workspace = true

serde_json.workspace = true
clap = { workspace = true, features = ["derive"] }
