[package]
name = "hanzo-evm-network"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
description = "Ethereum network support"

[lints]
workspace = true

[dependencies]
# evm
hanzo-evm-chainspec.workspace = true
hanzo-evm-eth-execution = { workspace = true, optional = true }
hanzo-evm-fs-util.workspace = true
hanzo-evm-primitives-traits.workspace = true
hanzo-evm-net-banlist.workspace = true
hanzo-evm-network-api.workspace = true
hanzo-evm-network-p2p.workspace = true
hanzo-evm-discv4.workspace = true
hanzo-evm-discv5.workspace = true
hanzo-evm-dns-discovery.workspace = true
hanzo-evm-ethereum-forks.workspace = true
hanzo-evm-eth-wire.workspace = true
hanzo-evm-eth-wire-types.workspace = true
hanzo-evm-ecies.workspace = true
hanzo-evm-tasks.workspace = true
hanzo-evm-transaction-pool.workspace = true
hanzo-evm-storage-api.workspace = true
hanzo-evm-tokio-util.workspace = true
hanzo-evm-consensus.workspace = true
hanzo-evm-network-peers = { workspace = true, features = ["net"] }
hanzo-evm-network-types.workspace = true

# ethereum
alloy-consensus.workspace = true
alloy-eips.workspace = true
alloy-primitives.workspace = true
alloy-rlp.workspace = true
enr = { workspace = true, features = ["serde", "rust-secp256k1"] }
discv5.workspace = true

# hanzo-evm-ethereum
hanzo-evm-ethereum-primitives.workspace = true

# async/futures
futures.workspace = true
pin-project.workspace = true
tokio = { workspace = true, features = ["io-util", "net", "macros", "rt-multi-thread", "time"] }
tokio-stream.workspace = true
tokio-util = { workspace = true, features = ["codec"] }

# io
serde = { workspace = true, optional = true }

# metrics
hanzo-evm-metrics = { workspace = true, features = ["common"] }
metrics.workspace = true

# misc
auto_impl.workspace = true
aquamarine.workspace = true
tracing.workspace = true
rustc-hash.workspace = true
thiserror.workspace = true
parking_lot.workspace = true
rayon.workspace = true
rand.workspace = true
rand_08.workspace = true
secp256k1 = { workspace = true, features = ["global-context", "std", "recovery"] }
derive_more.workspace = true
schnellru.workspace = true
itertools.workspace = true
smallvec.workspace = true

[dev-dependencies]
# evm
hanzo-evm-discv4 = { workspace = true, features = ["test-utils"] }

# we need to enable the test-utils feature in our own crate to use utils in
# integration tests
hanzo-evm-network = { workspace = true, features = ["test-utils"] }
hanzo-evm-network-p2p = { workspace = true, features = ["test-utils"] }
hanzo-evm-network-types = { workspace = true, features = ["test-utils"] }

hanzo-evm-provider = { workspace = true, features = ["test-utils"] }
hanzo-evm-tracing.workspace = true
hanzo-evm-transaction-pool = { workspace = true, features = ["test-utils"] }

# alloy deps for testing against nodes
alloy-genesis.workspace = true

# misc
url.workspace = true
secp256k1 = { workspace = true, features = ["rand"] }

## Benchmarks
criterion = { workspace = true, features = ["async_tokio", "html_reports"] }

[features]
serde = [
    "dep:serde",
    "secp256k1/serde",
    "enr/serde",
    "hanzo-evm-network-types/serde",
    "hanzo-evm-dns-discovery/serde",
    "hanzo-evm-eth-wire/serde",
    "hanzo-evm-eth-wire-types/serde",
    "alloy-consensus/serde",
    "alloy-eips/serde",
    "alloy-primitives/serde",
    "discv5/serde",
    "parking_lot/serde",
    "rand/serde",
    "smallvec/serde",
    "url/serde",
    "hanzo-evm-primitives-traits/serde",
    "hanzo-evm-ethereum-forks/serde",
    "hanzo-evm-network/serde",
    "hanzo-evm-transaction-pool/serde",
    "hanzo-evm-ethereum-primitives/serde",
    "hanzo-evm-network-api/serde",
    "rand_08/serde",
    "hanzo-evm-storage-api/serde",
]
test-utils = [
    "reth-transaction-pool/test-utils",
    "reth-network-types/test-utils",
    "reth-chainspec/test-utils",
    "reth-consensus/test-utils",
    "reth-discv4/test-utils",
    "reth-network/test-utils",
    "reth-network-p2p/test-utils",
    "reth-primitives-traits/test-utils",
    "reth-provider/test-utils",
    "reth-ethereum-primitives/test-utils",
    "dep:reth-evm-ethereum",
    "reth-evm-ethereum?/test-utils",
    "reth-tasks/test-utils",
]

[[bench]]
name = "broadcast"
required-features = ["test-utils"]
harness = false

[[bench]]
name = "tx_manager_hash_fetching"
required-features = ["test-utils"]
harness = false
