[package]
name = "hanzo-evm-ethereum"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[lints]
workspace = true

[dependencies]
# evm
hanzo-evm-primitives-traits.workspace = true
hanzo-evm-chainspec.workspace = true
hanzo-evm-network = { workspace = true, optional = true }
hanzo-evm-network-api = { workspace = true, optional = true }
hanzo-evm-eth-wire = { workspace = true, optional = true }
hanzo-evm-provider = { workspace = true, optional = true }
hanzo-evm-db = { workspace = true, optional = true, features = ["mdbx"] }
hanzo-evm-codecs = { workspace = true, optional = true }
hanzo-evm-storage-api = { workspace = true, optional = true }
hanzo-evm-node-api = { workspace = true, optional = true }
hanzo-evm-node-core = { workspace = true, optional = true }
hanzo-evm-consensus = { workspace = true, optional = true }
hanzo-evm-consensus-common = { workspace = true, optional = true }
hanzo-evm-execution = { workspace = true, optional = true }
hanzo-evm-revm = { workspace = true, optional = true }
hanzo-evm-transaction-pool = { workspace = true, optional = true }
hanzo-evm-rpc = { workspace = true, optional = true }
hanzo-evm-rpc-api = { workspace = true, optional = true }
hanzo-evm-rpc-eth-types = { workspace = true, optional = true }
hanzo-evm-rpc-builder = { workspace = true, optional = true }
hanzo-evm-exex = { workspace = true, optional = true }
hanzo-evm-trie = { workspace = true, optional = true }
hanzo-evm-trie-db = { workspace = true, optional = true }
hanzo-evm-node-builder = { workspace = true, optional = true }
hanzo-evm-tasks = { workspace = true, optional = true }
hanzo-evm-cli-util = { workspace = true, optional = true }
hanzo-evm-engine-local = { workspace = true, optional = true }

# hanzo-evm-ethereum
hanzo-evm-ethereum-primitives.workspace = true
hanzo-evm-ethereum-cli = { workspace = true, optional = true }
hanzo-evm-ethereum-consensus = { workspace = true, optional = true }
hanzo-evm-eth-execution = { workspace = true, optional = true }
hanzo-evm-node-ethereum = { workspace = true, optional = true }

# alloy
alloy-rpc-types-eth = { workspace = true, optional = true }
alloy-rpc-types-engine = { workspace = true, optional = true }

[features]
default = ["std"]
std = [
    "hanzo-evm-chainspec/std",
    "hanzo-evm-ethereum-primitives/std",
    "hanzo-evm-ethereum-consensus?/std",
    "hanzo-evm-primitives-traits/std",
    "hanzo-evm-consensus?/std",
    "hanzo-evm-consensus-common?/std",
    "alloy-rpc-types-eth?/std",
    "hanzo-evm-storage-api?/std",
    "hanzo-evm-execution?/std",
    "hanzo-evm-eth-execution?/std",
    "hanzo-evm-revm?/std",
    "alloy-rpc-types-engine?/std",
]
arbitrary = [
    "std",
    "hanzo-evm-chainspec/arbitrary",
    "hanzo-evm-ethereum-primitives/arbitrary",
    "hanzo-evm-primitives-traits/arbitrary",
    "hanzo-evm-db?/arbitrary",
    "alloy-rpc-types-eth?/arbitrary",
    "hanzo-evm-transaction-pool?/arbitrary",
    "hanzo-evm-eth-wire?/arbitrary",
    "alloy-rpc-types-engine?/arbitrary",
    "hanzo-evm-codecs?/arbitrary",
]
keccak-cache-global = [
    "hanzo-evm-node-ethereum?/keccak-cache-global",
    "hanzo-evm-node-core?/keccak-cache-global",
]
test-utils = [
    "hanzo-evm-chainspec/test-utils",
    "hanzo-evm-consensus?/test-utils",
    "hanzo-evm-db?/test-utils",
    "hanzo-evm-ethereum-primitives/test-utils",
    "hanzo-evm-execution?/test-utils",
    "hanzo-evm-revm?/test-utils",
    "hanzo-evm-network?/test-utils",
    "hanzo-evm-node-ethereum?/test-utils",
    "hanzo-evm-primitives-traits/test-utils",
    "hanzo-evm-provider?/test-utils",
    "hanzo-evm-trie?/test-utils",
    "hanzo-evm-transaction-pool?/test-utils",
    "hanzo-evm-eth-execution?/test-utils",
    "hanzo-evm-node-builder?/test-utils",
    "hanzo-evm-trie-db?/test-utils",
    "hanzo-evm-codecs?/test-utils",
]

full = [
    "consensus",
    "evm",
    "node",
    "provider",
    "rpc",
    "exex",
    "trie",
    "pool",
    "network",
]

cli = ["dep:hanzo-evm-ethereum-cli", "dep:hanzo-evm-cli-util"]
consensus = [
    "dep:hanzo-evm-consensus",
    "dep:hanzo-evm-consensus-common",
    "dep:hanzo-evm-ethereum-consensus",
]
evm = ["dep:hanzo-evm-execution", "dep:hanzo-evm-eth-execution", "dep:hanzo-evm-revm"]
exex = ["provider", "dep:hanzo-evm-exex"]
node-api = ["dep:hanzo-evm-node-api", "dep:hanzo-evm-node-core"]
node = [
    "provider",
    "consensus",
    "evm",
    "network",
    "node-api",
    "dep:hanzo-evm-node-ethereum",
    "dep:hanzo-evm-node-builder",
    "dep:hanzo-evm-engine-local",
    "rpc",
    "trie-db",
    "pool",
]
pool = ["dep:hanzo-evm-transaction-pool"]
rpc = [
    "tasks",
    "dep:hanzo-evm-rpc",
    "dep:hanzo-evm-rpc-builder",
    "dep:hanzo-evm-rpc-api",
    "dep:hanzo-evm-rpc-eth-types",
    "dep:alloy-rpc-types-eth",
    "dep:alloy-rpc-types-engine",
]
tasks = ["dep:hanzo-evm-tasks"]
jemalloc = [
    "hanzo-evm-cli-util?/jemalloc",
    "hanzo-evm-ethereum-cli?/jemalloc",
    "hanzo-evm-node-core?/jemalloc",
]
jemalloc-prof = [
    "jemalloc",
    "hanzo-evm-cli-util?/jemalloc-prof",
    "hanzo-evm-ethereum-cli?/jemalloc-prof",
]
jemalloc-symbols = [
    "jemalloc-prof",
    "hanzo-evm-ethereum-cli?/jemalloc-symbols",
]
js-tracer = [
    "rpc",
    "hanzo-evm-rpc/js-tracer",
    "hanzo-evm-node-builder?/js-tracer",
    "hanzo-evm-node-ethereum?/js-tracer",
    "hanzo-evm-rpc-eth-types?/js-tracer",
]
network = ["dep:hanzo-evm-network", "tasks", "dep:hanzo-evm-network-api", "dep:hanzo-evm-eth-wire"]
otlp = [
    "hanzo-evm-ethereum-cli?/otlp",
    "hanzo-evm-node-core?/otlp",
]
portable = [
    "hanzo-evm-revm?/portable",
]
provider = ["storage-api", "tasks", "dep:hanzo-evm-provider", "dep:hanzo-evm-db", "dep:hanzo-evm-codecs"]
storage-api = ["dep:hanzo-evm-storage-api"]
trie = ["dep:hanzo-evm-trie"]
trie-db = ["trie", "dep:hanzo-evm-trie-db"]
