[package]
name = "hanzo-evm-payload-validator"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
description = "Payload validation support"

[lints]
workspace = true

[dependencies]
# evm
hanzo-evm-primitives-traits.workspace = true

# alloy
alloy-rpc-types-engine.workspace = true
alloy-consensus.workspace = true

[features]
default = ["std"]
std = [
    "alloy-consensus/std",
    "alloy-rpc-types-engine/std",
    "hanzo-evm-primitives-traits/std",
]
