[package]
name = "hanzo-evm-bench"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
description = "Benchmarking for ethereum nodes"
default-run = "hanzo-evm-bench"

[lints]
workspace = true

[dependencies]
# evm
hanzo-evm-cli-runner.workspace = true
hanzo-evm-cli-util.workspace = true
hanzo-evm-engine-primitives.workspace = true
hanzo-evm-ethereum-primitives.workspace = true
hanzo-evm-fs-util.workspace = true
hanzo-evm-node-api.workspace = true
hanzo-evm-node-core.workspace = true
hanzo-evm-primitives-traits.workspace = true
hanzo-evm-rpc-api.workspace = true

hanzo-evm-tracing.workspace = true
hanzo-evm-chainspec.workspace = true

# alloy
alloy-eips.workspace = true
alloy-json-rpc.workspace = true
alloy-consensus.workspace = true
alloy-network.workspace = true
alloy-primitives = { workspace = true, features = ["rand"] }
alloy-provider = { workspace = true, features = ["engine-api", "pubsub", "reqwest-rustls-tls"], default-features = false }
alloy-pubsub.workspace = true
alloy-rpc-client = { workspace = true, features = ["pubsub"] }
alloy-rpc-types-engine = { workspace = true, features = ["kzg"] }
alloy-transport-http.workspace = true
alloy-transport-ipc.workspace = true
alloy-transport-ws.workspace = true
alloy-transport.workspace = true
op-alloy-consensus = { workspace = true, features = ["alloy-compat"] }
op-alloy-rpc-types-engine = { workspace = true, features = ["serde"] }

# reqwest
reqwest.workspace = true

# tower
tower.workspace = true

# tracing
tracing.workspace = true

# serde
serde.workspace = true
serde_json.workspace = true

# url parsing
url.workspace = true

# async
async-trait.workspace = true
futures.workspace = true
tokio = { workspace = true, features = ["sync", "macros", "time", "rt-multi-thread"] }

# misc
clap = { workspace = true, features = ["derive", "env"] }
eyre.workspace = true
color-eyre.workspace = true
thiserror.workspace = true
humantime.workspace = true

# for writing data
csv.workspace = true

[dev-dependencies]

[features]
default = ["jemalloc"]

asm-keccak = [
    "hanzo-evm-node-core/asm-keccak",
    "alloy-primitives/asm-keccak",
]

jemalloc = [
    "hanzo-evm-cli-util/jemalloc",
    "hanzo-evm-node-core/jemalloc",
]
jemalloc-prof = ["hanzo-evm-cli-util/jemalloc-prof"]
tracy-allocator = ["hanzo-evm-cli-util/tracy-allocator", "tracy"]
tracy = [
    "hanzo-evm-node-core/tracy",
    "hanzo-evm-tracing/tracy",
]

min-error-logs = [
    "tracing/release_max_level_error",
    "hanzo-evm-node-core/min-error-logs",
]
min-warn-logs = [
    "tracing/release_max_level_warn",
    "hanzo-evm-node-core/min-warn-logs",
]
min-info-logs = [
    "tracing/release_max_level_info",
    "hanzo-evm-node-core/min-info-logs",
]
min-debug-logs = [
    "tracing/release_max_level_debug",
    "hanzo-evm-node-core/min-debug-logs",
]
min-trace-logs = [
    "tracing/release_max_level_trace",
    "hanzo-evm-node-core/min-trace-logs",
]

# no-op feature flag for CI matrices
ethereum = []

[[bin]]
name = "hanzo-evm-bench"
path = "src/main.rs"
