[package]
name = "hanzo-evm-engine-util"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[lints]
workspace = true

[dependencies]
# evm
hanzo-evm-primitives-traits.workspace = true
hanzo-evm-errors.workspace = true
hanzo-evm-chainspec.workspace = true
hanzo-evm-fs-util.workspace = true
hanzo-evm-engine-primitives = { workspace = true, features = ["std"] }
hanzo-evm-engine-tree.workspace = true
hanzo-evm-execution.workspace = true
hanzo-evm-revm.workspace = true
hanzo-evm-storage-api.workspace = true
hanzo-evm-payload-primitives.workspace = true

# alloy
alloy-rpc-types-engine.workspace = true
alloy-consensus.workspace = true

# async
tokio = { workspace = true, default-features = false }
tokio-util.workspace = true
pin-project.workspace = true
futures.workspace = true

# io
serde.workspace = true
serde_json.workspace = true

# misc
eyre.workspace = true
itertools.workspace = true

# tracing
tracing.workspace = true
