# Runs `assertoor` tests on a `kurtosis` testnet.

name: kurtosis

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"

  push:
    tags:
      - "*"

env:
  CARGO_TERM_COLOR: always

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  prepare-evm:
    uses: ./.github/workflows/prepare-evm.yml
    with:
      image_tag: ghcr.io/hanzoai/evm:kurtosis-ci
      binary_name: evm

  test:
    timeout-minutes: 60
    strategy:
      fail-fast: false
    name: run kurtosis
    runs-on: depot-ubuntu-latest
    needs:
      - prepare-evm
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Download evm image
        uses: actions/download-artifact@v7
        with:
          name: artifacts
          path: /tmp

      - name: Load Docker image
        run: |
          docker load -i /tmp/evm_image.tar &
          wait
          docker image ls -a

      - name: Run kurtosis
        uses: ethpandaops/kurtosis-assertoor-github-action@v1
        with:
          ethereum_package_args: ".github/assets/kurtosis_network_params.yaml"

  notify-on-error:
    needs: test
    if: failure()
    runs-on: ubuntu-latest
    steps:
      - name: Slack Webhook Action
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_COLOR: ${{ job.status }}
          SLACK_MESSAGE: "Failed run: https://github.com/hanzoai/evm/actions/runs/${{ github.run_id }}"
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
